*{
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/media/fondo-pacman.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pacman{
    height: 25px;
}
